[nz-menu] {
    width: 240px;
  }
  :host ::ng-deep .ant-menu{
    @apply bg-transparent;
  }
  :host ::ng-deep .ant-menu-horizontal > .ant-menu-item,
  :host ::ng-deep .ant-menu-horizontal > .ant-menu-submenu{
    @apply inline-flex items-center gap-[8px];
  }
  :host ::ng-deep .ant-menu-item,
  :host ::ng-deep .ant-menu-submenu-title{
    @apply flex items-center;
  }

  :host ::ng-deep .ant-menu-item-disabled > .ant-menu-submenu-title,
  :host ::ng-deep .ant-menu-submenu-disabled > .ant-menu-submenu-title,
  :host ::ng-deep .ant-menu-item-disabled,
  :host ::ng-deep .ant-menu-submenu-disabled{
    @apply opacity-[.8] dark:text-white/[.87];
  }
  :host ::ng-deep .ant-menu-submenu .ant-menu-submenu-title .anticon{
    @apply text-current;
  }
/* manage-users.component.css */

/* Modal backdrop */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal container */
.modal-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Modal header */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* Modal title */
.modal-header h2 {
  margin: 0;
  font-size: 24px;
  color: #4a4a4a;
}

/* Close button */
.close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #aaa;
}

.close-button:hover {
  color: #000;
}

/* Form group */
.form-group {
  margin-bottom: 15px;
}

/* Form group label */
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #4a4a4a;
}

/* Form group input */
.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  color: #4a4a4a;
}

.form-group input:focus,
.form-group select:focus {
  outline: none;
  border-color: #7b4bda;
}

/* Form actions */
.form-actions {
  text-align: center;
}

/* Submit button */
.submit-button {
  background-color: #7b4bda;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
